footer {
    background-color: #353535;
    padding: 20px;
    color: white;

    @media (min-width: map-get($breakpoints, tablet)) {
        text-align: center;
    }

    h3 {
        font-family: 'Shrikhand', sans-serif;
        padding: 5px 0 15px 0;


    }

    ul {
        padding: 0;

        li {
            padding: 5px 0 5px 0;

            a {
                color: white;

                &:hover {
                    color: $color-primary;
                }
            }

            @media (min-width: map-get($breakpoints, tablet)) {
                display: inline-flex;
                padding-right: 30px;
            }
        }
    }

    .fa-utensils {
        margin-right: 12px;
    }

    .fa-hands-helping {
        margin-right: 5px;
    }
}