.load {
    background-color: #f3f3f3;
    width: 500px;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    height: 100%;
    position: fixed;
    animation: fond 2.5s linear forwards;
    pointer-events: none;
}

.loader {
    border: 16px solid #2222221f;
    border-top: 16px solid;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 9999;
    position: absolute;
    pointer-events: none;
    width: 100px;
    height: 100px;
    animation: spin 2.5s linear forwards;
}