.title-list-menu {
    padding-left: 20px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 5px;

    @media (min-width: map-get($breakpoints, tablet)) {
        text-align: center;
        padding-right: 20px;
    }
}

hr {
    width: 40px;
    border: 2px solid $color-third;
    margin-left: 20px;

    @media (min-width: map-get($breakpoints, tablet)) {
        margin: auto;
        padding-right: 20px;
    }
}

.list-menu {
    display: contents;
    flex-direction: column;

    li {
        @media (min-width: map-get($breakpoints, tablet)) {
            display: flex;
            justify-content: center;
        }
    }
}

.bloc-menu {
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
    transition: padding-right 450ms ease-in-out;
    overflow: hidden;
    margin: 15px;
    cursor: pointer;

    &:hover {
        padding-right: 70px;
    }

    &:hover .validation svg {
        animation: rotates 450ms ease-in-out;
    }

    h4 {
        margin-bottom: 0;
        margin-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .text-menu {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-right: 15px;
    }

    @media (min-width: map-get($breakpoints, tablet)) {
        width: 50%;
    }
}

.description-dish {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.fade-1 {
    animation: fade 1s ease-in-out,
        opacity-duration 1s ease-in-out;
}

.fade-2 {
    animation: fade 1.5s ease-in-out,
        opacity-duration 1.5s ease-in-out;
}

.fade-3 {
    animation: fade 2s ease-in-out,
        opacity-duration 2s ease-in-out;
}

.position-validation {
    display: flex;
    justify-content: end;
}

.validation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-third;
    color: #fff;
    width: 60px;
    height: 75px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    margin-top: -64px;
    margin-right: -70px;
}