@keyframes fade {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fill {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  25% {
    opacity: 0.3;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  75% {
    opacity: 0.7;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}
@keyframes opacity-duration {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(0);
    color: #9356DC;
  }
  25% {
    opacity: 1;
    transform: rotate(90deg);
    color: #b35cdc;
  }
  50% {
    opacity: 1;
    transform: rotate(180deg);
    color: #cf64dc;
  }
  75% {
    opacity: 1;
    transform: rotate(240deg);
    color: #e86edb;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
    color: #ff79da;
  }
}
@keyframes fond {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes paddinge {
  0% {
    transform: translate(0px);
    opacity: 0;
  }
  100% {
    transform: translate(-30px);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

@media (min-width: 768px) {
  .align-center-title {
    text-align: center;
  }
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

.button-explore {
  background: linear-gradient(to left bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  transition: transform 500ms;
  margin: 20px;
  padding: 15px 15px;
  cursor: pointer;
}
.button-explore:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.btn-card {
  position: absolute;
  display: flex;
  margin-top: 15px;
  margin-left: 250px;
}

.new {
  color: #008766;
  background: #99E2D0;
  padding: 3px;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  font-weight: bold;
}

.header-menu img {
  object-fit: cover;
  width: 100%;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
  height: 250px;
}
@media (min-width: 768px) {
  .header-menu img {
    height: 300px;
  }
}

.arrow {
  position: absolute;
  top: 25px;
  font-size: 20px;
  left: 30px;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}
.menu .title-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu .title-menu .icon-menu {
  display: flex;
  align-items: center;
  width: 50px;
}
.menu .title-menu h2 {
  font-family: shrikhand, sans-serif;
}
@media (min-width: 768px) {
  .menu .title-menu h2 {
    padding-right: 100px;
  }
}
@media (min-width: 768px) {
  .menu .title-menu {
    display: flex;
    justify-content: center;
  }
}

.heart {
  cursor: pointer;
  width: 30px;
  fill: white;
  stroke: black;
  stroke-width: 20px;
}

.heart-full {
  z-index: 2;
}
.heart-full:hover {
  animation: fill 0.4s ease-in-out;
  transform: scale(1.15);
  fill: url(#text-fill);
  stroke: none;
}

.heart-empty {
  position: absolute;
}

.header {
  text-align: center;
}

footer {
  background-color: #353535;
  padding: 20px;
  color: white;
}
@media (min-width: 768px) {
  footer {
    text-align: center;
  }
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  padding: 5px 0 15px 0;
}
footer ul {
  padding: 0;
}
footer ul li {
  padding: 5px 0 5px 0;
}
footer ul li a {
  color: white;
}
footer ul li a:hover {
  color: #9356DC;
}
@media (min-width: 768px) {
  footer ul li {
    display: inline-flex;
    padding-right: 30px;
  }
}
footer .fa-utensils {
  margin-right: 12px;
}
footer .fa-hands-helping {
  margin-right: 5px;
}

#maps-city {
  background: #eaeaea;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}
#maps-city .maps {
  display: flex;
  justify-content: center;
  align-items: center;
}
#maps-city .fa-map-marker-alt {
  margin-right: 10px;
}

.explore-restaurant {
  background: #f6f6f6;
  text-align: center;
  width: 100%;
  padding: 20px;
}
.explore-restaurant h2 {
  font-weight: bold;
}
.explore-restaurant p {
  color: #4d4d4dbe;
}

#step h2 {
  padding: 20px;
}
#step .step-operation {
  display: contents;
  flex-direction: column;
}
#step .step-operation li {
  display: flex;
  align-items: center;
  margin: 0 25px 25px 25px;
  background: #f6f6f6;
  border: 5px solid transparent;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 4px 4px 6px #e9e9e9;
}
#step .step-operation li:hover {
  background-color: #9256dc46;
}
@media (min-width: 768px) {
  #step .step-operation li {
    justify-content: center;
  }
}
#step .step-website {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #9356DC;
  width: 25px;
  height: 25px;
  position: relative;
  right: 15px;
}
#step .icon-etape {
  color: #b2b2b2;
  margin: 0 30px;
  font-size: 15px;
}

#restaurant {
  background-color: #F2F2F2;
  padding: 20px 20px 0px 20px;
  margin-top: 50px;
}
@media (min-width: 768px) {
  #restaurant .container-restaurant {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
#restaurant .row-restaurant {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.photo-restaurant {
  background-color: white;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  margin: 15px;
  transition: 1s;
}
.photo-restaurant:hover {
  box-shadow: -1px 5px 15px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
.photo-restaurant img {
  width: 350px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.description-photo {
  display: flex;
  padding: 10px;
}
.description-photo h4 {
  margin: 0;
}
.description-photo p {
  margin-top: 10px;
  margin-bottom: 5px;
}
.description-photo .text-restaurant {
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}
.description-photo .icon-restaurant {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.title-list-menu {
  padding-left: 20px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .title-list-menu {
    text-align: center;
    padding-right: 20px;
  }
}

hr {
  width: 40px;
  border: 2px solid #99E2D0;
  margin-left: 20px;
}
@media (min-width: 768px) {
  hr {
    margin: auto;
    padding-right: 20px;
  }
}

.list-menu {
  display: contents;
  flex-direction: column;
}
@media (min-width: 768px) {
  .list-menu li {
    display: flex;
    justify-content: center;
  }
}

.bloc-menu {
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 15px;
  transition: padding-right 450ms ease-in-out;
  cursor: pointer;
}
.bloc-menu:hover .validation {
  display: flex;
  opacity: 1;
  transform: translate(-50px);
}
.bloc-menu:hover {
  padding-right: 75px;
}
.bloc-menu h4 {
  margin-bottom: 0;
  margin-top: 5px;
}
.bloc-menu p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.bloc-menu .text-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bloc-menu {
    width: 50%;
  }
}

.fade-1 {
  animation: fade 1s ease-in-out, opacity-duration 1s ease-in-out;
}

.fade-2 {
  animation: fade 1.5s ease-in-out, opacity-duration 1.5s ease-in-out;
}

.fade-3 {
  animation: fade 2s ease-in-out, opacity-duration 2s ease-in-out;
}

.align-button {
  display: flex;
  justify-content: center;
}
.align-button .btn-command {
  background: linear-gradient(to left bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  transition: transform 500ms;
  margin: 20px;
  padding: 15px 15px;
  cursor: pointer;
  margin: 60px;
  padding: 15px 50px;
}
.align-button .btn-command:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.validation {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #fff;
  width: 60px;
  height: 75px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -35px;
  margin-top: -64px;
}

.load {
  background-color: #f3f3f3;
  width: 500px;
  height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  height: 100%;
  position: fixed;
  animation: fond 2.5s linear forwards;
  pointer-events: none;
}

.loader {
  border: 16px solid #2222221f;
  border-top: 16px solid;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
  position: fixed;
  pointer-events: none;
  width: 100px;
  height: 100px;
  animation: spin 2.5s linear forwards;
}

/*# sourceMappingURL=style.css.map */
