.heart {
    cursor: pointer;
    width: 30px;
    fill: white;
    stroke: black;
    stroke-width: 20px;
}

.heart-full {
    z-index: 2;
    position: absolute;

    &:hover {
        animation: fill 0.4s ease-in-out;
        fill:url(#text-fill);
        transform: scale(1.15);
        stroke: none;
    }
}

.heart-empty {
    position: relative;
}