.header-menu img {
    object-fit: cover;
    width: 100%;
    box-shadow: inset 0px 5px 5px 0px #dddddd;
    height: 250px;

    @media (min-width: map-get($breakpoints, tablet)) {
        height: 300px;
    }
}

.arrow {
    position: absolute;
    top: 25px;
    font-size: 20px;
    left: 30px;
}

.menu {
    background-color: #f6f6f6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    position: relative;
    margin-top: -50px;

    .title-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .icon-menu {
            display: flex;
            align-items: center;
            width: 50px;
        }

        h2 {
            font-family: shrikhand, sans-serif;

            @media (min-width: map-get($breakpoints, tablet)) {
                padding-right: 100px;
            }
        }

        @media (min-width: map-get($breakpoints, tablet)) {
            display: flex;
            justify-content: center;
        }
    }
}